body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.App {
  min-height: 100vh;
  padding-top: 2rem;
  font-family: Pretendard, sans-serif;
}
