body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  overflow-x: hidden;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: optional;
  src: local("Pretendard"),
    url("/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("/fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: optional;
  src: local("Pretendard SemiBold"),
    url("/fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("/fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: optional;
  src: local("Pretendard Bold"),
    url("/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("/fonts/Pretendard-Bold.woff") format("woff");
}

.App {
  min-height: 100vh;
  font-family: "Pretendard", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  padding-top: 60px; /* header의 height와 동일한 값 */
}

@media screen and (max-width: 480px) {
  main {
    padding-top: 50px; /* 모바일에서 header height가 50px로 변경되므로 */
  }
}

/* 태블릿 환경 (768px 이하) */
@media screen and (max-width: 768px) {
  .App {
    padding-top: 1.5rem;
  }
}

/* 모바일 환경 (480px 이하) */
@media screen and (max-width: 480px) {
  .App {
    padding-top: 1rem;
  }

  body {
    font-size: 14px;
  }
}
