.home-container {
  position: relative;
  width: 100vw;
  min-height: 100vh; /* 변경된 부분 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* margin-bottom: 20px; */
}

.home-image-text-title {
  font-family: Helvetica75;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 54.688% */
  position: absolute;
  top: 50%;
  left: 10%;
  animation: fadeIn 1s ease-in-out;
  z-index: 2;
}

.home-image-text {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  animation: fadeIn 1s ease-in-out;
  z-index: 2;
}

.home-image {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  object-fit: fill;
  object-position: center;
  position: absolute;
  filter: brightness(0.8) contrast(1.1);
  animation: videoFadeIn 0.5s ease-in-out;
  z-index: 0;
}

@keyframes videoFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 태블릿 환경 (768px 이하) */
@media screen and (max-width: 768px) {
  .home-image-text-title {
    font-size: 40px;
    line-height: 30px;
    left: 5%;
  }

  .home-image-text {
    font-size: 16px;
    line-height: 28px;
  }

  .home-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

/* 모바일 환경 (480px 이하) */
@media screen and (max-width: 480px) {
  .home-image-text-title {
    font-size: 32px;
    line-height: 25px;
    left: 5%;
  }

  .home-image-text {
    font-size: 14px;
    line-height: 24px;
  }

  .home-container {
    min-height: 90vh;
  }

  .home-image {
    height: 90vh;
  }
}
