.join-container {
  text-align: center;
  height: 100vh;
  white-space: pre-wrap;
  background-color: #1a1a1a;
}

.join-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 222px;
  height: 100%;
}

.join-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.join-text {
  color: #aaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.join-button {
  width: 160px;
  height: 45px;
  margin-top: 77px;
  margin-bottom: 146px;
  flex-shrink: 0;
  border-radius: 20px;
  border-style: none;
  background: linear-gradient(90deg, #26bef0 0%, #f5ad63 100%);
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.join-rules {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  list-style-position: inside;
}

.join-button:hover {
  color: linear-gradient(90deg, #f5ad63 0%, #26bef0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
